/*
* layer_example.css
* demo style for vivid layer
*/

/*reset*/
a img{border:none;}
a{color: #fa3381;text-decoration:none;}
em,var{font-style:normal;}
ul,ol{padding:0;list-style-type:none;}
body,dl,dd,ul,ol,h1,h2,h3,h4,h5,h6,form,p{margin:0;}
body,td,th,h1,h2,h3,h4,h5,h6 {font-size:12px;}
input,textarea,a,button{outline:none;}
table{border-collapse:collapse;border-spacing:0;}
body{color:#666;line-height:1.125;font-family:Verdana, sans-serif;}
a:hover{text-decoration:underline;}

/*page background*/
html{
    background-color: #bee1f5;
    background-image: url(../img/body_repeat.png);
    background-repeat: repeat-x;
}
body{
    background-repeat: no-repeat;
    background-position: center 0;
    padding-top: 60px;
    background-image: url(../img/body_bg.png);
}
/*effects type select area*/
.total_container{width:800px;margin:0 auto;padding-top:100px;}
.demo_header{margin-bottom:20px;padding-bottom:20px;text-align:center;}
.demo_title{margin-bottom:20px;font-size:32px;}
.demo_note{color:#666;font-size:12px;}
.sort_area{margin-bottom:60px;}
.sort_title{margin-bottom:20px;font-size:18px;}
.effect_link{display:inline-block;height:30px;margin-right:20px;padding:0 15px;border-radius:3px;background:#ffb33b;color:#fff;line-height:30px;-webkit-transition:background .25s linear;transition:background .25s linear;}
.effect_link:hover{text-decoration:none;background:#ffa00a;}

/*one layer*/
.m_layer {position:absolute;border-radius:3px;z-index:500;}
.m_layer .layer_shadow{padding:3px;border-radius:4px;background:url(../img/layer_bg.png) repeat;}
.m_layer .layer_container{background:#fff;border:1px solid #ccc;border-radius:2px}
.m_layer .layer_header{position:relative;height:30px;background:#f2f2f2;line-height:30px;}
.m_layer .layer_title{padding-left:20px;font-size:12px;font-weight:bold;cursor:move;}
.m_layer .layer_close_link{position:absolute;width:16px;height:16px;background:url(../img/ico.png) no-repeat;right:17px;top:6px;z-index:2;}
.m_layer .layer_close_link:hover{background-position:-20px 0;}
.m_layer .declare{width:200px;height:50px;padding:50px 100px;font-size:14px;text-align:center;line-height:50px;}

/*effects name highlight*/
.m_layer .declare em{color:#c83f47;}

/*layer special link*/
.m_layer .layer_special_link{position:absolute;width:12px;height:12px;left:4px;top:9px;-webkit-transition:-webkit-transform .25s linear;transition:transform .25s linear;}
.m_layer .layer_special_link:hover{-webkit-transform:rotate(-45deg);transform:rotate(-45deg);}
.m_layer .special_status_0{background:#999;}
.m_layer .special_status_1{background:#26ae96;}
.m_layer .special_status_2{background:#bfaa31;}

/*special skill hint*/
.skill_hint{position:absolute;color:#fff;font-size:18px;font-family:Verdana;text-align:center;left:200px;top:100px;z-index:400;}
.skill_item{padding:10px 0;cursor:default;}
.skill_item_0{text-shadow:0 0 6px #999, 0 0 6px #999, 0 0 6px #999;}
.skill_item_1{text-shadow:0 0 6px #26ae96,0 0 6px #26ae96, 0 0 6px #26ae96;}
.skill_item_2{text-shadow:0 0 6px #bfaa31, 0 0 6px #bfaa31, 0 0 6px #bfaa31;}

/*layer mask*/
.layer_mask{position:fixed;left:0;right:0;top:0;bottom:0;background:black;opacity:.3;filter:alpha(opacity=30);z-index:100;}