@charset "utf-8";
/*弹层大小*/
.layer_point_mid { width:320px; }
.layer_point_sma { width:180px; }
/*弹层焦点公用样式*/
.layer_point { padding:15px 20px; }
.layer_point .point dt,
.layer_point .point dd { float:left; }
.layer_point .point dd { word-wrap:break-word; width:285px; line-height:18px; padding-top: 8px; }
.layer_point .point dd .txt_1 { padding:0 0 5px; }
.layer_point .point dd input { vertical-align:middle; margin:0 5px 0 0; }
/*迷你弹层补丁*/
.layer_point_mini .u_ico_tips{ vertical-align:-4px;*vertical-align:-1px;_vertical-align:-2px;}
/*居中弹层补丁*/
.layer_mini_center .btn {  text-align: center;}
.layer_mini_center .txt_2{ margin-top:7px;}

