@charset "utf-8";
/**弹层样式**/
.m_layer { position:absolute; border-radius:3px; z-index:9999; }
.m_layer .layer_bg { padding:3px; border-radius:4px; background:url(../../img/layer/layer_bg.png) repeat; }
.m_layer .content { position:relative; background:#fff; border:1px solid #ccc; border-radius:2px }
/**弹层标题**/
.m_layer .title { background:#f2f2f2; height:30px; line-height:30px; font-weight:700; padding:0 0 0 20px; font-size:12px; vertical-align:middle; }
.m_layer .title h3 { font-size:14px; width:340px; overflow:hidden; height:24px; font-weight:400; }
.m_layer .title .span{font-weight: 400;}
/**弹层详情**/
.m_layer .content,
.m_layer .detail {  line-height:18px; }

/**弹层tab**/
.m_layer .tab { background:#f0f0f0; padding:4px 4px 0 6px; }
.m_layer .tab .tab_title { font-size:14px; margin:0 0 0 15px; }
.m_layer .tab a { height:26px; line-height:26px; padding:0 11px; margin:0 -2px; position:relative; z-index:1; display:inline-block; }
.m_layer .tab .current { text-decoration:none; cursor:default; background:#fff; border:1px solid #e8e8e8; border-bottom:0; -moz-border-radius-topright:3px; -webkit-border-top-right-radius:3px 3px; -moz-border-radius-topleft:3px; -webkit-border-top-left-radius:3px 3px; }
.m_layer .tab_bottom { height:27px; padding:3px 0 0; background:url(../../img/layer/layer_tab_bottom_bg.png) repeat-x left bottom; }
.m_layer .tab_bottom .tab_title { font-size:12px; }

/**弹层元组件--四个尖角**/
.m_layer .ico_arrow{ position:absolute; overflow:hidden; display:block; background:url(../../img/layer/layer_arrow.png) no-repeat; }
.m_layer .ico_arrow_r,
.m_layer .ico_arrow_l { width:9px; height:14px; top:20px; right:-5px; background-position:-8px -24px; }
.m_layer .ico_arrow_l { right:auto; left:-5px; background-position:0 -24px; }
.m_layer .ico_arrow_t,
.m_layer .ico_arrow_b { width:14px; height:9px; top:-5px; left:30px; background-position:0 0; }
.m_layer .ico_arrow_b { top:auto; bottom:-5px; background-position:0 -8px; }

/**按钮补丁**/
.m_layer .btn { text-align:right; padding:15px 0 0; }
.m_layer .btn a { margin:0 0 0 10px; }
/**图标补丁**/
.m_layer .u_ico_close { position:absolute; z-index:2; right:17px; top:6px; }
/**元组件补丁**/
.m_layer .u_vline { text-indent:-1px; display:inline-block; }