@charset "utf-8";
/**图标样式**/
.u_ico{ display:inline-block;width:16px; height:16px; background:url(../../img/common/ico.png) no-repeat 2000px 2000px; _bigackground:url(../../img/common/ico.gif) no-repeat 2000px 2000px; }
.u_ico:hover{ text-decoration:none;}
.u_ico_close{ background-position:0 0;}
.u_ico_close:hover{ background-position:-20px 0;}

/*icon 提示警告 小icon 大icon 中icon*/
.u_ico_tips{ display:inline-block;  width:16px; height:16px; background:url(../../img/common/ico_tips.png) no-repeat 2000px 2000px;_bigackground:url(../../img/common/ico_tips.gif) no-repeat 2000px 2000px; margin:0 3px 0 0;overflow:hidden; }
.u_ico_error_mid,.u_ico_del_mid,.u_ico_succ_mid,.u_ico_warn_mid,.u_ico_question_mid,.u_ico_rederror_mid{ width:32px; height:32px;}
.u_ico_error_big,.u_ico_del_big,.u_ico_succ_big,.u_ico_warn_big,.u_ico_question_big,.u_ico_rederror_big{ width:50px; height:50px;}
.u_ico_error,.u_ico_error_sma{ background-position:0 -100px}
.u_ico_del,.u_ico_del_sma{ background-position:0 -50px}
.u_ico_succ,.u_ico_succ_sma{ background-position:0 0}
.u_ico_warn,.u_ico_warn_sma{ background-position:0 -200px}
.u_ico_question,.u_ico_question_sma{background-position:0 -150px}
.u_ico_rederror,.u_ico_rederror_sma{background-position:0 -250px}
.u_ico_error_mid{ background-position:-50px -100px}
.u_ico_del_mid{ background-position:-50px -50px}
.u_ico_succ_mid{ background-position:-50px 0}
.u_ico_warn_mid{ background-position:-50px -200px}
.u_ico_question_mid{background-position:-50px -150px}
.u_ico_rederror_mid{background-position:-50px -250px}
.u_ico_error_big{ background-position:-100px -100px}
.u_ico_del_big{ background-position:-100px -50px}
.u_ico_succ_big{ background-position:-100px 0}
.u_ico_warn_big{ background-position:-100px -200px}
.u_ico_question_big{background-position:-100px -150px}
.u_ico_rederror_big{background-position:-100px -250px}
.u_ico_prompt_sma{ background-position:0 -300px}
.u_ico_notice_sma{ background-position:0 -350px}
