@charset "utf-8";
/*清浮动方法*/
.clearfix:before,
.clearfix:after { display:table; content:" "; }
.clearfix:after { clear:both; }
.clearfix { *zoom:1;}
/*默认链接*/
a { color:#333; text-decoration:none; }
a:hover { text-decoration:underline; }
/*中文符合显示*/
.CH { font-family:"SimSun" }
.u_Yahei { font-family:"Microsoft Yahei" }
/*Tohama*/
.u_Tahoma { font-family:Tahoma }
/*小字号*/
.u_fs { font-size:10px; -webkit-transform:scale(0.875) }
/*特殊文字*/
.u_fb { font-weight:700; }
.u_fs14 { font-size:14px }
.u_fs16 { font-size:16px }
.u_fs18 { font-size:18px }
.u_fs20 { font-size:20px }
/*版式类样式*/
.u_fl { float:left; _display:inline }
.u_fr { float:right; _display:inline }
.u_tc { text-align:center; }
.u_tr { text-align:right; }
/*字体颜色*/
.u_color_a { color:#333; }
.u_color_b { color:#808080; }
.u_color_c { color:#999; }
/* input testarea 色框*/
.u_input,
.u_inputStp { border:1px solid #ccc; border-radius:2px; height:28px; padding:0 0 0 2px; vertical-align: middle; color:#808080; -webkit-box-shadow:0px 1px 1px 0px #eaeaea inset; -moz-box-shadow:0px 1px 1px 0px #eaeaea inset; box-shadow:0px 1px 1px 0px #eaeaea inset; height:20px\9; padding:8px 0 0 2px\9; }
textarea.u_input { overflow-y:auto; overflow-x:hidden; line-height:18px; height:23px; padding:5px 0 0 2px; }
:root .u_input,
:root .u_inputStp { height:26px\0; padding:2px 0 0 2px\0; }
:root textarea.u_input { height:23px\0; padding:5px 0 0 2px\0; }
.u_input_focus,
.u_input:focus,
.u_inputStp:focus { border-color:#FFB941!important; -webkit-box-shadow:1px 1px 1px 0px #ddd inset; -moz-box-shadow:1px 1px 1px 0px #ddd inset; box-shadow:1px 1px 1px 0px #ddd inset; color:#333; }
.u_input_default { color:#b8b7b7; }
.u_checkbox,
.u_radio { vertical-align:-2px; _vertical-align:-3px; margin-right:3px; *margin-right:0;}
.u_checkbox:focus { outline:1px solid #ffb941; }
/*强制换行*/
.u_txt_break { word-wrap: break-word; white-space: normal; word-break: break-all; }
/*强制截断*/
.u_txt_cut { overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
